@model UserInterface.Models.UserFilters

@{
    var modelNameId = "filters[" + Model.Index + "].Name";
    var modelHoursId = "filters[" + Model.Index + "].DaysCount";
}

<input list="filtered" autocomplete="off" type="text" placeholder="Name" name="@modelNameId" required/>
<datalist id="filtered">
    @foreach (var item in Model.Filters)
    {
        <option value="@item"></option>
    }
</datalist>
<br>
<input type="number" step="1" min="0" name="@modelHoursId" placeholder="Hours amount"/>