@model string

@{
    Layout = "_Layout";
}
<h1>
    Error. Please choose existing algorithm.
</h1>

<div class="button">
    @using (Html.BeginForm("FiltersInput", "FiltersInput"))
    {
        <label for="ok" class="button">
            Got it
        </label>
        <input id="ok" class="hide" type="submit"/>
    }
</div>
