@model UserInterface.Models.FiltersPageData


@{
    Layout = "_Layout";
}

<div>
    <h1>Add limitations of working hours</h1>
    @using (Html.BeginForm("GetFilters", "FiltersInput", new { uid = Model.UserId }, FormMethod.Post))
    {
        <div id="filtersForm"></div>
        <input type="button" onclick="AddInputDiv()" value="+"/>
        <div>
        <h5>Choose algorithm to generate timetable</h5>
        @Html.DropDownList("algorithm", Model.Algorithms)
        </div><br>
        <div><input type="submit" value="Submit"/></div>
    }
</div>



<script>
function ChooseFilter(div_to_insert, input, uid, insert_index) {
    $.ajax({
        url: '@Url.Action("ChooseSingleFilter", "FiltersInput")',
        data: {filterName: input, userId: uid, elementId: insert_index},
        type: "POST",
        success: function(data) {
            $('#' + div_to_insert).html(data);
        }
    })
}

function AddInputDiv(){
    var filterForm = document.getElementById('filtersForm');
    var div = document.createElement('div');
    var insert_id = filterForm.childElementCount.toString();
    div.id = insert_id;
    filterForm.appendChild(div);
    $.ajax({
        url: '@Url.Action("_FilterChoosingForm", "FiltersInput", new { userId = Model.UserId })',
        data: {elementId: insert_id},
        success: function (data) {
            $('#' + insert_id).html(data);
        }
    })
    return false;
}

</script>