@model UserInterface.Models.FiltersPageData


@{
    Layout = "_Layout";
}


<p>
    Add limitations of working hours
</p>
@using (Html.BeginForm("GetFilters", "FiltersInput", new { uid = Model.UserID }, FormMethod.Post))
{
    <div class="button" id="filtersForm"></div>
    <label for="filter-add" class="button">
        +
    </label>
    <input id="filter-add" class="hide" type="button" onclick="AddInputDiv()" value="+"/>
    <div class="button">
        Choose algorithm to generate timetable<br>
        @Html.DropDownList("algorithm", Model.Algorithms)
    </div>
    <div class="button">
        <label for="filter-submit" class="button">
            Continue
        </label>
        <input id="filter-submit" class="hide" type="submit" value="Submit"/>
    </div>
}



<script>
function ChooseFilter(div_to_insert, input, uid, insert_index) {
    $.ajax({
        url: '@Url.Action("ChooseSingleFilter", "FiltersInput")',
        data: {filterName: input, userId: uid, elementId: insert_index},
        type: "POST",
        success: function(data) {
            $('#' + div_to_insert).html(data);
        }
    })
}

function AddInputDiv(){
    var filterForm = document.getElementById('filtersForm');
    var div = document.createElement('div');
    div.classList.add('filter');
    var insert_id = filterForm.childElementCount.toString();
    div.id = insert_id;
    filterForm.appendChild(div);
    $.ajax({
        url: '@Url.Action("_FilterChoosingForm", "FiltersInput", new { userId = Model.UserID })',
        data: {elementId: insert_id},
        success: function (data) {
            $('#' + insert_id).html(data);
        }
    })
    return false;
}

</script>