@model string

@{
    Layout = "_Layout";
}
<h1>
    Your input was wrong: @Model. Please fill out the file correctly.
</h1>

<div class="button">
    @using (Html.BeginForm("Index", "MainPage"))
        {
            <label  for="ok" class="button">
                Got it
            </label>
            <input id="ok" class="hide" type="submit"/>
        }
</div>