@model UserInterface.Models.PageAcceptedExtensions

@{
    Layout = "_Layout";
}
<h1>
    Error. Please use files with @Model.Extensions extensions
</h1>

<div class="button">
    @using (Html.BeginForm("Index", "MainPage"))
        {
            <label  for="ok" class="button">
                Got it
            </label>
            <input id="ok" class="hide" type="submit"/>
        }
</div>
