@page

@{
    Layout = "_Layout";
}

<div>
    <h1>Add limitations of working hours</h1>
    <div>
        <form>
            <div>
                @Html.DropDownList(
                    "filterType",
                    ViewBag.FilterTypes as SelectList,
                    "Choose filter type",
                    new {onchange = "filterInputField('specifiedFilter', this.value)"})
            </div>
            <div id="specifiedFilter"></div>
        </form>
    </div>
</div>

<script>
function filterInputField(divToInsert, input) {
        $.ajax({
            url: '@Url.Action("GetFiltersInputField", "MainPage")',
            data: {filterKey: input},
            type: "POST",
            success: function(data) {
                $('#' + divToInsert).html(data);
            }
        })
    }
</script>