@page
@using UserInterface.Models
@model FilterUI

@{
    Layout = "_Layout";
}

<div>
    <h1>Add limitations of working hours</h1>
    @using (Html.BeginForm("GetFilters", "MainPage", FormMethod.Post))
    {
        <div id="filtersForm"></div>
        <input type="button" onclick="AddInputDiv()" value="+"/>
        <div><input type="submit" value="Submit"/></div>
    }
</div>

<script>
function filterInputField(div_to_insert, input, insert_index) {
    $.ajax({
        url: '@Url.Action("GetFiltersInputField", "MainPage")',
        data: {filterKey: input, elementId: insert_index},
        type: "POST",
        success: function(data) {
            $('#' + div_to_insert).html(data);
        }
    })
}
    
function AddInputDiv(){
    var filterForm = document.getElementById('filtersForm');
    var div = document.createElement('div');
    var insert_id = filterForm.childElementCount.toString();
    div.id = insert_id;
    filterForm.appendChild(div);
    $.ajax({
        url: '@Url.Action("GetFiltersInputForm", "MainPage")',
        data: {elementId: insert_id},
        success: function (data) {  
            $('#' + insert_id).html(data);  
        }  
    })
    return false;
}

</script>