@model UserInterface.Models.PageAcceptedExtensions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<p>
    Upload data files
</p>
<form asp-controller="MainPage" asp-action="FileFormUpload" method="post" enctype="multipart/form-data">
    <div class="button">
        <label for="file-upload" class="button">
            Upload file
        </label>
        <input id="file-upload" class="hide" type="file" name="file" accept="@Model.Extensions" required/>
    </div>
    <div class="button">
        <label for="upload-submit" class="button">
            Continue
        </label>
        <input id="upload-submit" class="hide" type="submit"/>
    </div>
</form>

