@page

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Timetable creator</title>
</head>
<body>

@using (Html.BeginForm("GetExcelInput", "MainPage", FormMethod.Post))
    {
        <div id="filtersForm"></div>
        <input type="file" id="ExcelFileUpload" class="file" accept=".xlsx">  
        <input type="submit" value="Submit"/>
    }

</body>
</html>