@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<div>
    <h3>Upload data files</h3>
    <form asp-controller="MainPage" asp-action="FileFormUpload" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="file" accept=".xlsx, .txt" multiple />
        </div>
        <div>
             <input type="submit" value="Upload" />
        </div>
    </form>
</div>
