@page
@model UserInterface.Views.MainPage.Loading

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @using (Html.BeginForm("ToOutput", "MainPage"))
    {
        <input type="submit" value="Submit"/>
    }
</div>
</body>
</html>