@model UserInterface.Models.UserID

@{
    Layout = "_Layout";
}

<div>
    @using (Html.BeginForm("ToOutput", "MainPage", new {uid = Model.ID}))
    {
        <input type="submit" value="Submit"/>
    }
</div>