@page
@model UserInterface.Views.MainPage.Loading

@{
    Layout = "_Layout";
}

<div>
    @using (Html.BeginForm("ToOutput", "MainPage", new {uid = @ViewBag.uid}))
    {
        <input type="submit" value="Submit"/>
    }
</div>