@model UserInterface.Models.UserID

@{
    Layout = "_Layout";
}

<p>
    Please, wait
</p>
@using (Html.BeginForm("ToOutput", "LoadingPage", new { uid = Model.ID }))
{
    <div class="loading loading--full-height"></div>
    <input type="submit" value="Submit"/>
}