@model UserInterface.Models.UserID

@{
    Layout = "_Layout";
}
<h1>
    Please use available extensions.
</h1>

<div class="button">
    @using (Html.BeginForm("Index", "Output", new {uid = Model.ID}))
        {
            <label for="ok" class="button">
                Got it
            </label>
            <input id="ok" class="hide" type="submit"/>
        }
</div>
