@model List<UserInterface.FileModel>
 
@{
    Layout = "_Layout";
}

<html lang="en">
    <head>
        <link href="~/css/fonts/output.css" rel="stylesheet"/>
        <title>Output</title>
    </head>
    <body>
        <div class="output">
            <table>
                <tr>
                    <th>File Name</th>
                    <th>Link</th>
                </tr>
                @foreach (var file in Model)
                {
                    <tr>
                        <td class="name">@file.FileName</td>
                        <td class="download">
                            @Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </body>
</html>