@model UserInterface.Models.OutputPageData
 
@{
    Layout = "_Layout";
}

<div id="loading">
    <p>
        Please, wait
    </p>
    <div class="loading loading--full-height"></div>
</div>

<div id="downloadDiv" style="display:none">
    @using (Html.BeginForm("DownloadFile", "Output", new { uid = Model.UserID }))
    {
        <fieldset>
            <legend>Choose extension</legend>
            @Html.DropDownList("extension", Model.OutputExtensions)
            <label for="download" class="button">
                Download
            </label>
            <input id="download" class="hide" type="submit">
        </fieldset>
    }
</div>

<script>
    function checkCompleteness() {
         $.ajax({
         url: '@Url.Action("CheckCompleteness", "Output", new { uid = Model.UserID })',
         timeout: 1000,
         success: function () {
             document.getElementById('loading').style.display = 'none';
             document.getElementById('downloadDiv').style.display = 'block';
         },
         error: function ()
         {
             setTimeout(checkCompleteness, 15000);
         }
      });
    }
    
    window.onload = function ()
    {
        checkCompleteness();
    }
</script>