@using TimetableApplication
 
@{
    Layout = "_Layout";
}

<html lang="en">
    <head>
        <link href="~/css/fonts/output.css" rel="stylesheet"/>
        <title>Output</title>
    </head>
    <body>
        <div class="output">
            @using (Html.BeginForm("DownloadFile", "Output"))
            {
                <input type="submit" value="Download">
            }
        </div>
    </body>
</html>