@model UserInterface.Models.OutputPageData
 
@{
    Layout = "_Layout";
}

@using (Html.BeginForm("DownloadFile", "Output", new { uid = Model.UserID }))
{
    <fieldset>
        <legend>Choose extension</legend>
        @Html.DropDownList("extension", Model.OutputExtensions)
        <label for="download" class="button">
            Download
        </label>
        <input id="download" class="hide" type="submit">
    </fieldset>
}
