@model UserInterface.Models.OutputPageData
 
@{
    Layout = "_Layout";
}

<div id="loading">
    <p>
        Please, wait
    </p>
    <div class="loading loading--full-height"></div>
</div>

<div id="errorid" style="display:none">Error</div>

<div id="downloadDiv" style="display:none">
    @using (Html.BeginForm("DownloadFile", "Output", new { uid = Model.UserID }))
    {
        <fieldset>
            <legend>Choose extension</legend>
            @Html.DropDownList("extension", Model.OutputExtensions)
            <label for="download" class="button">
                Download
            </label>
            <input id="download" class="hide" type="submit">
        </fieldset>
    }
</div>

<script>
function showElement(elementId, style) {
  document.getElementById(elementId).style.display = style;
}

function changeView(elementId) {
  showElement('loading', 'none');
  showElement(elementId, 'block');
}

function showError(data) {
  console.error('Error', data);
  changeView('errorid');
}

function checkCompleteness() {
  $.ajax({
    url: '@Url.Action("CheckCompleteness", "Output", new { uid = Model.UserID })',
    timeout: 1000,
    success(data) {
      if (data.isCompleted === true) {
        changeView('downloadDiv');
      } else if (data.isCompleted === false) {
        setTimeout(checkCompleteness, 5000);
      } else {
        showError(data);
      }
    },
    error(data) {
      showError(data);
    },
  });
}

window.onload = function () {
  checkCompleteness();
};
</script>