@model UserInterface.Models.UserID
 
@{
    Layout = "_Layout";
}


@using (Html.BeginForm("DownloadFile", "Output", new { uid = Model.ID }))
{
    <fieldset>
        <legend>Choose extension</legend>
        @Html.DropDownList("extension", ViewBag.Extensions as SelectList)
        <label for="download" class="button">
            Download
        </label>
        <input id="download" class="hide" type="submit">
    </fieldset>
}